@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* font for website  */

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared css style  */
.display-flex {
  display: flex;
}

.display-grid {
  display: grid;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* gray one  */
.gray-one {
  color: rgb(19, 19, 19);
}
/* gray two  */
.gray-two {
  color: rgb(114, 114, 114);
}

.primary {
  color: rgb(255, 144, 14);
}

.description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7rem;
}

.heading2 {
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 53px;
}

.btn-primary {
  padding: 20px 24px;
  background-color: rgb(255, 144, 14);
  border: none;
  border-radius: 8px;
}

/* navbar related style start */
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.navnar {
  padding: 50px 0;
  justify-content: space-between;
  align-items: center;
}

.navnar h3 {
  font-size: 2.7rem;
  font-weight: 700;
}

.navnar ul li {
  list-style: none;
  margin-left: 60px;
}
.navnar ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: rgb(66, 66, 66);
}

/* navbar related style end */

/* banner related style start */
.banner .banner-info h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 75px;
  margin-bottom: 25px;
}

.banner-info {
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
}

.banner .btn-primary {
  margin-top: 32px;
}
.banner .banner-image {
  margin-top: 50px;
  padding-bottom: 45px;
}

.banner .banner-image img {
  width: 100%;
}
/* banner related style end */

/* features related style start  */
.features {
  padding: 0 61px;
  margin-top: 85px;
}

.features .features-image img {
  width: 100%;
}
.features-image {
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.features-info {
  max-width: 537px;
  margin: auto 0;
  padding-left: 73px;
}

.features-info p {
  margin-top: 24px;
}

.features-info button {
  margin-top: 32px;
}
/* features related style end */

/* experience related style start  */
.experience {
  margin-top: 100px;
}

.experience-title {
  border-left: 5px solid rgb(255, 144, 14);
  padding-left: 21px;
}

.experience-info {
  margin-top: 39px;
}

.experience-details {
  max-width: 586px;
  margin-top: 24px;
}

.experience-category {
  margin-top: 30px;
  padding: 30px 42px 30px 30px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
}

.experience-category h5 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 23px;
  margin-bottom: 10px;
}

.experience-image {
  margin-left: 54px;
  padding: 0px 0px 77px 92px;
}

.experience-count {
  margin-top: -100px;
  margin-left: -100px;
}
.year {
  font-size: 2rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
}

.experience-count .experience {
  font-size: 1rem;
  color: rgb(255, 255, 255);
}
/* experience related style end */

/* some facts start  */
.facts {
  margin-top: 90px;
}

.facts-details {
  max-width: 552px;
  margin-top: 18px;
}

.fact-box {
  width: 242px;
  height: 242px;
  border: 1px solid rgb(255, 144, 14);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fact-box h4 {
  color: rgb(66, 66, 66);
}
.fact-box p {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 23px;
}

.facts-container {
  margin-left: 60px;
  margin-top: 80px;
  grid-template-columns: repeat(4, 1fr);
}

/* some facts end */

/* sponsor related style start  */
.sponsor {
  text-align: center;
  margin-top: 120px;
}

.sponsor h2 {
  margin-bottom: 24px;
}

.sponsor p {
  width: 542px;
  margin: 0 auto;
}

.sponsor-image {
  margin-top: 50px;
  grid-template-columns: repeat(5, 1fr);
}

.sponsor-image img {
  filter: grayscale(100%);
}
/* sponsor related end */

/* footer related style start */
footer {
  background-color: rgb(255, 244, 231);
}
.footer {
  margin-top: 130px;

  padding: 39px 0;
}

.footer p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
}
/* footer related style end  */

/* for small device */
@media screen and (max-width: 576px) {
  /* navbar and banner section  */
  .navnar {
    flex-direction: column;
  }

  .navnar ul {
    flex-direction: column;
  }
  .navnar ul li {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .navnar h3 {
    margin-bottom: 10px;
  }

  /* feature section  */
  .features-image {
    margin-top: 40px;
  }

  .features {
    flex-direction: column;
  }

  .features-info {
    margin-top: 40px;
    padding-left: 0;
  }

  /* experience section  */

  .experience {
    flex-direction: column;
  }

  .experience-image {
    margin-left: 0px;
    padding: 0;
    margin-top: 50px;
  }

  .experience-image img {
    width: 100%;
  }

  .experience-count {
    margin-top: -100px;
    margin-left: 10px;
  }

  /* facts section  */
  .facts h2 {
    margin-left: 10px;
  }
  .facts h2 + p {
    margin-left: 10px;
  }

  .facts-container {
    margin-left: 10px;
    margin-top: 80px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  /* sponsonr section  */
  .sponsor-image {
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

/* for medium device */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .navnar ul li {
    list-style: none;
    margin-left: 20px;
  }

  /* feature section  */
  .features-image {
    margin-top: 40px;
  }

  .features {
    flex-direction: column;
  }

  .features-info {
    margin-top: 40px;
    padding-left: 0;
  }

  /* experience section  */

  .experience {
    flex-direction: column;
  }

  .experience-image {
    margin-left: 0px;
    padding: 0;
    margin-top: 50px;
  }

  .experience-image img {
    width: 100%;
  }

  .experience-count {
    margin-top: -100px;
    margin-left: 10px;
  }

  /* facts section  */
  .facts h2 {
    margin-left: 10px;
  }
  .facts h2 + p {
    margin-left: 10px;
  }

  .facts-container {
    margin-left: 30px;
    margin-top: 80px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  /* sponsonr section  */
  .sponsor-image {
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
